<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC chat</title>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="utils.js" defer></script>
    <script src="RTC-functions.js" defer></script>
    <script src="setup-socket.js" defer></script>
    <script src="script.js" defer></script>
    <script>
      const ROOM = "<%= roomId %>";
    </script>
    <style>
      body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
        align-items: center;
      }

      video {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
      }
    </style>
  </head>
  <body>
    <video autoplay playsinline id="localVideo" muted></video>
  </body>
</html>
